<!-- <div class="SignOut" >
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-link dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: 20px;"
        ><span class="glyphicon glyphicon-user" ></span> Sign Out</a
      >
      <ul class="dropdown-menu">
        <li>
          <a routerLink="/admin" routerLinkActive="active">Admin Login</a>
        </li>
        <li>
          <a routerLink="/login" routerLinkActive="active">User Login</a>
        </li>
        <li>
          <a routerLink="/companylogin" routerLinkActive="active"
            >Company Login</a
          >
        </li>
      </ul>
    </li>
  </ul>
</div> -->
<!-- I am in dash -->


