<!-- <div class="sidenav">
    <ul class ="list-unstyled">
        <li style="margin-top:10rem">
 
           <a [routerLink]="['/myCompanyPolicy',insurerLicense]" routerLinkActive = "active" >My Policies</a>
   
        </li>
        <li>

            <a [routerLink]="['/incomingPortingRequest',insurerLicense]" routerLinkActive = "active" > Incomming Poritng Requests</a>
        </li>
   
   
      <li>
          <a [routerLink]="['/outgoingPortingRequest',insurerLicense]" routerLinkActive = "active" > Outing Poritng Requests</a>
        </li>

      <li><a routerLink='/newPolicyForm' routerLinkActive = "active" >Add New Policy</a></li>
   
   
   </ul>
   </div> -->
   
    <!-- <mat-toolbar color="warn" style="opacity:0.5;">
            <mat-toolbar-row >
              <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                color="primary"
              >
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
              </button>
              
                <div class="navbar-header">
                  <a class="navbar-brand" href="#" style="margin-bottom: 3.8rem;">
                    <img
                      src="./../../assets/img/logo1.png"
                      alt="Logo"
                      class="img-responsive"
                      width="70px"
                      height="80px"
                    />
                  </a>
                </div>
                <div
                  class="collapse navbar-collapse dropdown show"
                  id="collapsibleNavbar"
                >
                  <ul class="nav navbar-nav">
                    <li></li>
                    <li>
                      <a [routerLink]="['/home']" routerLinkActive="router-link-active"
                        >Home</a
                      >
                    </li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>
            
                <div class="signin" style=" margin-top: 1%;margin-left: 30%;">
                  <ul class="nav navbar-nav navbar-right">
                    <li class="nav-link dropdown"></li>
                      <a routerLink="/login" routerLinkActive="active" (click)="logout()"
                        ><span class="glyphicon glyphicon-user"></span> Sign Out</a>
                  </ul>
                </div>
          
            </mat-toolbar-row>
          </mat-toolbar>
          <mat-sidenav-container class="example-container" >
            <mat-sidenav #drawer mode="side" opened role="navigation">
              <mat-nav-list>
           
                <a mat-list-item [routerLink]="['/myCompanyPolicy',insurerLicense]" routerLinkActive = "active" >My Policies</a>
                <a mat-list-item [routerLink]="['/incomingPortingRequest',insurerLicense]" routerLinkActive = "active" > Incoming Porting Requests</a>
                <a mat-list-item [routerLink]="['/outgoingPortingRequest',insurerLicense]" routerLinkActive = "active" > Outgoing Porting Requests</a>
                <a mat-list-item [routerLink]="['/newPolicyForm']" routerLinkActive = "active" >Add New Policy</a>
              </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
              <router-outlet></router-outlet>
            </mat-sidenav-content>
          </mat-sidenav-container> 
        <app-footer></app-footer>
        <router-outlet></router-outlet>
         -->