<!-- <div class="container">

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Open modal
    </button>
 
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
 
         
          <div class="modal-header">
            <p class="modal-title">Congrats!!!</p>
          </div>
 
        
          <div class="modal-body">
        Hi,
        <br>
 
        Your requestId is {{id}},you can avail  our services after 7 days.
          </div>
 
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
 
        </div>
      </div>
    </div>
    </div> -->

    <!-- <p>Congrats!!!</p><br>
    <p>Hi,</p><br>
    <p>Your requestId is {{id}},you can avail  our services after 7 days.</p> -->
    <app-my-policies></app-my-policies>