
 <div class="container">
    <section class="herocontainer">
  <carousel [noPause]="noPause">
    <slide>
      <img src="./../assets/img/energy-home-hero-banner.jpg" alt="First slide"  style="display: block; width: 100%;">
      <div class="carousel-caption text-right">

        <h3 class="h3-responsive">
            Say yes to a sweet life with <br>
            A Health Plan that truly understands Diabetes</h3>
            </div>
    </slide>
       
       <slide>
        <img src="./../assets/img/health-insurance-home-hero-banner.jpg" alt="Third slide"  style="display: block; width: 100%;">
        <div class="carousel-caption text-right">
            <h3 class="h3-responsive">Secure your family future</h3>
         
        </div>
      </slide>
      <slide>
          <img src="./../assets/img/ican-home-hero-banner.jpg" alt="Third slide"  style="display: block; width: 100%;">
          <div class="carousel-caption text-right">
              <h3 class="h3-responsive">
            
                  Cancer might be a lifelong problem<br>
                  It's best to have a lifelong plan
              </h3>
          </div>
        </slide> 
     </carousel>
     <br/>
    </section>
  
  
    
  
    </div> 
    
    
    <!-- <section class="hero-slider">
        <carousel [noPause]="noPause">
      <div class="hero-slider-container swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" height="400px" style="background-image:url('./../assets/img//energy-home-hero-banner.jpg')">
            <div class="container text-right">
              <div class="banner-text-wrap text-left">
                Say Yes to a Sweet Life with
                <p>
                  <span>Energy </span>A Health Plan That Truly<br />
                  Understands Diabetes</p>
                <div class="btn-wrap">
                  <a class="primary-btn" href="/buyenergy/plan-details.html?icid=1_HP_ENERGY">Know More</a> <img class="banner-logo" height="30px" src="assets/energy-icon.png" width="auto" /></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" style="background-image:url('./../assets/img/health-insurance-home-hero-banner.jpg')">
            <div class="container text-right">
              <div class="banner-text-wrap text-left">
                <p>
                  We Know <span>Healthcare</span>.<br />
                  We Know <span>Insurance</span>.</p>
                <div class="btn-wrap">
                  <a class="primary-btn" href="/optima-restore-floater-premium-calculator.aspx?icid=2.1_HP_ORF">Family Plan</a> <a class="primary-btn" href="/optima-restore-individual-premium-calculator.aspx?icid=2.2_HP_ORI">Individual Plan</a></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" style="background-image:url('./../assets/img/health-wallet-home-hero-banner.jpg')">
            <div class="container text-right">
              <div class="banner-text-wrap text-left">
                A health insurance plan,<br />
                which pays for its own premium.
                <p>
                  <span>#BeWinsured</span> with Health Wallet</p>
                <div class="btn-wrap">
                  <a class="primary-btn" href="/healthinsurannce/healthwallet-family-plan-calculator.aspx?icid=3_HP_HWF">Know More</a></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" style="background-image:url('./../assets/img/ican-home-hero-banner.jpg')">
            <div class="container text-right">
              <div class="banner-text-wrap text-left">
                Cancer might be a lifelong problem.<br />
                It&#39;s best to have a lifelong plan
                <p>
                  #NeverGiveUp <span>with iCan</span></p>
                <div class="btn-wrap">
                  <a class="primary-btn" href="/ican-cancer-insurance/plan-details.html?icid=4_HP_ICAN">Know More</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination hero-pagination">
          &nbsp;</div>
        <div class="swiper-button-prev hero-prev">
          &nbsp;</div>
        <div class="swiper-button-next hero-next">
          &nbsp;</div>
      </div>
      </carousel>
    </section> -->
  




              
            <!-- <div class="container divmargin">
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-block">
                      <h3 class="card-title">Religare Joy Policy</h3>
                      <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/rsz_maternity.jpg"
                        alt=""></a>
                        <ul>
                            <li>
                              <span>60 and 90 days</span> of pre and post-hospitalisation cover</li>
                            <li>
                              <span>AYUSH Benefit-</span> In-patient treatment covered for alternative treatments</li>
                            <li>
                              <span>Maternity</span> is covered&nbsp;</li>
                            <li>
                              <span>Critical Illness-</span> Optional cover for 8 critical illnesses</li>
                            <li>
                              <span>Discounts at renewal</span> with the "Stay Active" Benefit</li>
                          </ul>
                      <a href="https://www.religarehealthinsurance.com/buy-maternity-health-insurance-plan.html" class="btn btn-primary">View</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-block">
                      <h3 class="card-title">Starhealth Family Policy</h3>
                      <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/rsz_optima-restore-banner.jpg"
                        alt=""></a>
                        <ul>
                            <li>
                              <span>Sum Insured </span>from 3-50 lakhs</li>
                            <li>
                              <span>The New Restore Benefit-</span> Instant addition of 100% basic sum insured to your cover, on your first claim.</li>
                            <li>
                              <span>Multiplier Benefit-</span>&nbsp;Multiplier Benefit<span style="color: rgb(102, 102, 102); font-size: 12px;">&nbsp;Double your sum insured in two consecutive claim free years</span></li>
                            <li>
                              <span>Discounts at renewal </span>with the "Stay Active" Benefit</li>
                          </ul>
                      <a href="https://retail.starhealth.in/instantbuy/index.html/family" class="btn btn-primary" class="btn btn-primary">View</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                        <div class="card">
                          <div class="card-block">
                            <h3 class="card-title">Starhealth Individual Policy</h3>
                            <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/rsz_hw-plans-bg-lg.jpg"
                                alt=""></a>
                                <ul>
                                    <li>
                                      <span>Sum Insured</span> from 3-50 lakhs.</li>
                                    <li>
                                      <span>Reserve Benefit -</span> Covers OPD expenses; balance is carried forward to next policy year with 6% bonus.</li>
                                    <li>
                                      <span>Pay up to 50% of renewal premium</span> from the Reserve Benefit, post 5 continuous renewals.</li>
                                    <li>
                                      <span>Restore Benefit</span> Auto-reinstates your base sum insured when you exhaust your entire cover.</li>
                                    <li>
                                      <span>Multiplier Benefit</span> Double your sum insured in two consecutive claim free years.</li>
                                  </ul>
                            <a href="https://www.starhealth.in/health-insurance-plans" class="btn btn-primary">View</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                            <div class="card">
                              <div class="card-block">
                                <h3 class="card-title">Bajaj Silver Health Plan</h3>
                                <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/rsz_senior-citizens-red-carpet.png"
                                    alt=""></a>
                                    <ul>
                                        <li>
                                          Plan specifically designed for people with <span> Diabetes and Hypertension.</span></li>
                                        <li>
                                          <span>Sum Insured</span> from 2- 50 lakhs</li>
                                        <li>
                                          <span>Coverage</span> from Day 1 for hospitalisation arising out of diabetes &amp; hypertension.</li>
                                        <li>
                                          <span>30 &amp; 60 days</span>&nbsp;of pre and post-hospitalisation, All day care procedures.</li>
                                        <li>
                                          <span>Expenses</span> for Organ Donor,&nbsp;emergency ambulance, no sublimit &amp; lifelong renewal.</li>
                                        <li>
                                          <span>Earn Up to 25%</span> renewal premium discount &amp; other incentives for staying healthy.</li>
                                      </ul>
                                <a href="https://www.bajajallianz.com/Corp/health-insurance/health-insurance-plans.jsp" class="btn btn-primary">View</a>
                               
                              </div>
                            </div>
                          </div>
                                
              </div> -->
              
              <section class="top-plans">
                  <div class="container2" style="width: 100%;">
                    <div class="top-plans-container clearfix">
                      <div class="title">
                     Top Plans</div>
                      <div class="plans-container">
                        <div class="plan-wrap">
                          <div class="bg" style="background-image:url('./../assets/img/optima-restore-banner-lg.jpg');">
                            &nbsp;</div>
                          <div class="plan-content">
                            <div class="plan-tag">
                              Bestselling Plan</div>
                            <div class="plan-title">
                              Optima Restore</div>
                            <ul>
                              <li>
                                <span>Sum Insured </span>from 3-50 lakhs</li>
                              <li>
                                <span>The New Restore Benefit-</span> Instant addition of 100% basic sum insured to your cover, on your first claim.</li>
                              <li>
                                <span>Multiplier Benefit-</span>&nbsp;Multiplier Benefit<span style="color: rgb(102, 102, 102); font-size: 12px;">&nbsp;Double your sum insured in two consecutive claim free years</span></li>
                            </ul>
                            <div class="btn-wrap">
                              <a class="btn" href="https://buy.apollomunichinsurance.com/optima-restore-family">Know More</a></div>
              
                            </div>
                        </div>
                        <div class="plan-wrap">
                          <div class="bg" style="background-image:url('./../assets/img/easy-health-banner-lg.jpg');">
                            &nbsp;</div>
                          <div class="plan-content">
                            <div class="plan-tag">
                              An affordable plan</div>
                            <div class="plan-title">
                              Easy Health</div>
                            <ul>
                              <li>
                                <span>60 and 90 days</span> of pre and post-hospitalisation cover</li>
                              <li>
                                <span>AYUSH Benefit-</span> In-patient treatment covered for alternative treatments</li>
                              <li>
                                <span>Maternity</span> is covered&nbsp;</li>
                              <li>
                                <span>Critical Illness-</span> Optional cover for 8 critical illnesses</li>
                              <li>
                                <span>Discounts at renewal</span> with the &quot;Stay Active&quot; Benefit</li>
                            </ul>
                            <div class="btn-wrap">
                              <a class="btn" href="https://buy.apollomunichinsurance.com/easy-health-family?adobe_mc_sdid=SDID%3D12D1BE1DFB843A7B-0D0268C06DBC062E%7CMCORGID%3DD1E9741F578C7C917F000101@AdobeOrg%7CTS%3D1552029850&icid=HP_EH_FAMILY&mboxSession=5255d1459b89455a8ca5514aeeb79329">Know More</a></div>
              
                           </div>
                        </div>
                        <div class="plan-wrap">
                          <div class="bg">
                            &nbsp;</div>
                          <div class="plan-content">
                            <div class="plan-tag">
                              A Revolutionary Plan</div>
                            <div class="plan-title">
                              Health Wallet</div>
                            <ul>
                              <li>
                                <span>Sum Insured</span> from 3-50 lakhs.</li>
                              <li>
                                <span>Reserve Benefit -</span> Covers OPD expenses; balance is carried forward to next policy year with 6% bonus.</li>
                              <li>
                                <span>Pay up to 50% of renewal premium</span> from the Reserve Benefit, post 5 continuous renewals.</li>
                              <li>
                                <span>Restore Benefit</span> Auto-reinstates your base sum insured when you exhaust your entire cover.</li>
                              <li>
                                <span>Multiplier Benefit</span> Double your sum insured in two consecutive claim free years.</li>
                            </ul>
                            <div class="btn-wrap">
                              <a class="btn" href="https://www.apollomunichinsurance.com/healthinsurance/healthwallet-individual-plan-calculator.aspx?icid=HP_HW_INDI">Know More</a></div>
              
                            </div>
                        </div>
                        <div class="plan-wrap">
                          <div class="bg" style="background-image:url('./../assets/img/energy-banner-large-lg.jpg');">
                            &nbsp;</div>
                          <div class="plan-content">
                            <div class="plan-tag">
                              <div>
                                Exclusive Plan of Diabetes</div>
                            </div>
                            <div class="plan-title">
                              Energy</div>
                            <ul>
                              <li>
                                Plan specifically designed for people with <span> Diabetes and Hypertension.</span></li>
                              <li>
                                <span>Sum Insured</span> from 2- 50 lakhs</li>
                              <li>
                                <span>Coverage</span> from Day 1 for hospitalisation arising out of diabetes &amp; hypertension.</li>
                              <li>
                                <span>The New Restore Benefit-</span>&nbsp;Instant addition of 100% basic sum insured to your cover, on your first claim.</li>
                              <li>
                                <span>30 &amp; 60 days</span>&nbsp;of pre and post-hospitalisation, All day care procedures.</li>
                              <li>
                                <span>Expenses</span> for Organ Donor,&nbsp;emergency ambulance, no sublimit &amp; lifelong renewal.</li>
                              <li>
                                <span>Earn Up to 25%</span> renewal premium discount &amp; other incentives for staying healthy.</li>
                            </ul>
                            <div class="btn-wrap">
                              <a class="btn" href="https://www.apollomunichinsurance.com/buyenergy/plan-details.html?icid=HP_ENERGY">Know More</a></div>
              
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              
              

              <section class="claim-process">
                  <div class="container">
                    <div class="claim-process-container clearfix">
                      <div class="title">
                        Quickest Porting Process</div>
                      <div class="process-container">
                        <div class="process-wrap">
                          <div class="process-img-wrap">
                            <img alt="" class="process-img" src="./../assets/img/inform-us.svg" /></div>
                          <div class="process-title">
                            Inform Us</div>
                          <p>
                            Visit our Portal and apply for porting request</p>
                        </div>
                        <div class="process-wrap">
                          <div class="process-img-wrap">
                            <img alt="" class="process-img" src="./../assets/img/supporting-documents.png" /></div>
                          <div class="process-title">
                            Wait for Insurer's Approval</div>
                          <p>
                            Your request will be verified by the insurer.</p>
                        </div>
                        <div class="process-wrap">
                          <div class="process-img-wrap">
                            <img alt="" class="process-img" src="./../assets/img/cashless-claim-approved.svg" /></div>
                          <div class="process-title">
                            Get your  porting approved</div>
                          <p>
                            Within 15 days.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              
