<mat-card-header >
  <p style="margin-left: 20%;margin-top: 2%;">My Policies</p>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let count of requests" >
        <div class="panel panel-default" style="width: 40%; margin-left: 15%;">
          <div class="panel-heading">Policy Name: {{ count.policyName }}</div>
         
            <p>PolicyId: {{ count.policyId }}</p>
            <p>Policy Type: {{count.policyType}}</p>
            <p>Genger Avail : {{count.genderAvail}}</p>
            <p>Min Age: {{count.minAge}}</p>
            <p>Max Age: {{count.maxAge}}</p>
            <p>Policy Term: {{count.policyTerm}}</p>
            <p>Min Sum Insured: {{count.minSumInsured}}</p>
            <p>Max Sum Insured: {{count.maxSumInsured}}</p>
            <p>Waiting Period: {{ count.waitingPeriod }}</p>
            <p>Policy Description: {{count.policyDescription}}</p>
            <p>
              <label>Does the insured has Exclusion period?(True/false)</label>
            <input type="text" [(ngModel)]="exclusionperiod">
            </p>  
          <mat-card-footer>
            <a [routerLink]="['/deletePolicy', count.insurerName,count.policyName]" class="btn btn-primary" style ="margin-right: 5%;margin-left: 20%; margin-bottom: 2%;"onClick= "window.location.reload();">Delete</a>
            <button (click)="port(count.insurerName,count.policyName,exclusionperiod)">Port</button>
          </mat-card-footer>
        </div>
          </div>
    </mat-card-content>