th {
    border: solid black thin;
    padding: 12%;
}
.display-form-name {
    text-align: center;
}
input[type=text] {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
}
.list-of-forms {
    overflow-x: scroll;
}