<!-- <div class = "jumbotron nav navbar-nav navbar-inverse">
  <b>Are You a Provider?</b>
  <a href= "#">Sign in</a>
  <ul class = "list-unstyled">
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Helpdesk</a></li>
    <li><a href="#">Portability</a></li>
    <li><a href="#">IRDA</a></li>
  </ul>
<div class="pull-right">
  <section class="wrapper">
    <a target="_blank" href="http://pie-health-insurance-agency.business.site/"><i class="fa fa-3x fa-google-plus"></i></a>
    <a target="_blank" href="https://www.facebook.com/Pie-1826847107420900/?modal=admin_todo_tour"><i class="fa fa-3x fa-facebook-square"></i></a>
    <a target="_blank" href="https://www.youtube.com/jr9fmJY_RwHf7EDBfYbmyQ" ><i class = "fa fa-3x fa-youtube"></i></a>
    <a target="_blank" href="#"><i class="fa fa-3x fa-twitter-square"></i></a>
    <a target ="_blank" href="https://pin.it/xn27du3vh6j2y5"><i class="fa fa-3x fa-pinterest"></i></a>
  </section>
</div>
</div> -->

<!-- <footer class="page-footer navbar-fixed-bottom font-small pt-2 navbar-inverse">

  <div class="container-fluid text-center text-md-left divmargin">

    <div class="row">

    
        <div class=" list col-md-3">
          <h5>About Us</h5>
          <ul class="list-unstyled">
              <li><a href="">About Us</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Why Pie?</a></li>
          </ul>
      </div>

      <div class=" list col-md-3">
        <h5>Tools For You</h5>
        <ul class="list-unstyled">
            <li><a href="">Health Articles</a></li>
            <li><a href="">Grievance Redressal</a></li>
            <li><a href="">IRDA Consumer Education Website</a></li>
        </ul>
    </div>

  <div class=" list col-md-3">
      <h5>Login</h5>
      <ul class="list-unstyled">
          <li><a [routerLink]="['/companyregister']" routerLinkActive="router-link-active" >Insurers</a></li>
          <li><a href="">Agents</a></li>
        
      </ul>
  </div>
      <div class = "list col-md-3 wrapper pull-right">
          
    <ul class="list-unstyled">
    <li>  <a target="_blank" href="https://www.facebook.com/Pie-1826847107420900/?modal=admin_todo_tour"><i class="fa fa-3x fa-facebook-square"></i></a></li>
    <li> <a target="_blank" href="#"><i class="fa fa-3x fa-twitter-square"></i></a></li>
    <li>-->
<!-- 
<footer id="footer-main">
  <div class="container">
  <div class="row">
  <div class="col-sm-3">
  <ul class="list">
  <li><a href="">About Us</a></li>
  <li><a href="">Contact Us</a></li>
  <li><a href="">Why Pie?</a></li>
  <li><a href="">Health Articles</a></li>
  </ul>
  </div>
  <div class="col-sm-3">
    <ul class="linkslist">
      <li><a [routerLink]="['/companyregister']" routerLinkActive="router-link-active" >Insurer's Login</a></li>
      <li><a href="">Grievance Redressal</a></li>
      <li><a href="">IRDA Consumer Education Website</a></li>
    </ul>
  </div>

      <div class="col-sm-3">
        <ul class="linslist">
        <li>  <a target="_blank" href="https://www.facebook.com/Pie-1826847107420900/?modal=admin_todo_tour"><i class="fa  fa-facebook-square"></i></a></li>
        <li> <a target="_blank" href="#"><i class="fa  fa-twitter-square"></i></a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="links">
    
           <li>
            <button mat-raised-button (click)="openDialog()"><i class="fa fa-calculator"></i></button>
        </li>
        </ul>
      </div>

      </div>
      </div>
  </footer>    -->

  
<!-- <div class = "jumbotron nav navbar-nav navbar-inverse">
  <b>Are You a Provider?</b>
  <a href= "#">Sign in</a>
  <ul class = "list-unstyled">
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Helpdesk</a></li>
    <li><a href="#">Portability</a></li>
    <li><a href="#">IRDA</a></li>
  </ul>
<div class="pull-right">
  <section class="wrapper">
    <a target="_blank" href="http://pie-health-insurance-agency.business.site/"><i class="fa fa-3x fa-google-plus"></i></a>
    <a target="_blank" href="https://www.facebook.com/Pie-1826847107420900/?modal=admin_todo_tour"><i class="fa fa-3x fa-facebook-square"></i></a>
    <a target="_blank" href="https://www.youtube.com/jr9fmJY_RwHf7EDBfYbmyQ" ><i class = "fa fa-3x fa-youtube"></i></a>
    <a target="_blank" href="#"><i class="fa fa-3x fa-twitter-square"></i></a>
    <a target ="_blank" href="https://pin.it/xn27du3vh6j2y5"><i class="fa fa-3x fa-pinterest"></i></a>
  </section>
</div>
</div> -->
<!-- <footer class="page-footer navbar-fixed-bottom font-small pt-2 navbar-inverse">
  <div class="container-fluid text-center text-md-left divmargin">
    <div class="row">
    
        <div class=" list col-md-3">
          <h5>About Us</h5>
          <ul class="list-unstyled">
              <li><a href="">About Us</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Why Pie?</a></li>
          </ul>
      </div>
      <div class=" list col-md-3">
        <h5>Tools For You</h5>
        <ul class="list-unstyled">
            <li><a href="">Health Articles</a></li>
            <li><a href="">Grievance Redressal</a></li>
            <li><a href="">IRDA Consumer Education Website</a></li>
        </ul>
    </div>
  <div class=" list col-md-3">
      <h5>Login</h5>
      <ul class="list-unstyled">
          <li><a [routerLink]="['/companyregister']" routerLinkActive="router-link-active" >Insurers</a></li>
          <li><a href="">Agents</a></li>
        
      </ul>
  </div>
      <div class = "list col-md-3 wrapper pull-right">
          
    <ul class="list-unstyled">
    <li>  <a target="_blank" href="https://www.facebook.com/Pie-1826847107420900/?modal=admin_todo_tour"><i class="fa fa-3x fa-facebook-square"></i></a></li>
    <li> <a target="_blank" href="#"><i class="fa fa-3x fa-twitter-square"></i></a></li>
    <li>-->
<!-- <footer id="footer-main">
  <div class="container">
  <div class="row">
  <div class="col-sm-3">
  <ul class="list">
  <li><a href="">About Us</a></li>
  <li><a href="">Contact Us</a></li>
  <li><a href="">Why Pie?</a></li>
  <li><a href="">Health Articles</a></li>
  </ul>
  </div>
  <div class="col-sm-3">
    <ul class="linkslist">
      <li><a [routerLink]="['/companyregister']" routerLinkActive="router-link-active" >Insurer's Login</a></li>
      <li><a href="">Grievance Redressal</a></li>
      <li><a href="">IRDA Consumer Education Website</a></li>
    </ul>
  </div>
      <div class="col-sm-3">
        <ul class="linslist">
        <li>  <a target="_blank" href="https://www.facebook.com/Pie-1826847107420900/?modal=admin_todo_tour"><i class="fa  fa-facebook-square"></i></a></li>
        <li> <a target="_blank" href="#"><i class="fa  fa-twitter-square"></i></a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="links">
    
           <li>
            <button mat-raised-button (click)="openDialog()"><i class="fa fa-calculator"></i></button>
        </li>
        </ul>
      </div>
      </div>
      </div>
  </footer>    -->
  
  <!-- Footer -->
  <footer class="page-footer font-small stylish-color-dark pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="head col-md-4 mx-auto">
          <!-- Content -->
          <h5 class="font-weight-bold-1 text-uppercase mt-3 mb-4">PIE</h5>
          <p> PIE is a platform that connects Insurers with Insured.</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-2 mx-auto" style="color:white;">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
          <ul class=" list-style list-unstyled" >
            <li  >
              <a class = "font-weight-bold" href="#!">About Us</a>
            </li>
            <li>
              <a  class = "font-weight-bold" href="#!">Contact Us</a>
            </li>
            <li>
              <a  class = "font-weight-bold" href="#!">Why Pie?</a>
            </li>
            <!-- <li>
              <a href="#!">Health Articles</a>
            </li> -->
          </ul>
        
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
          <ul class="list-unstyled">
            <li>
              <a  class = "font-weight-bold-2" href="#!">Health Articles</a>
            </li>
            <li>
              <a class = "font-weight-bold-2"  href="#!">Grievance Redressal</a>
            </li>
            <li>
              <a class = "font-weight-bold-2"  href="#!">IRDA Consumer Education Website</a>
            </li>
            <!-- <li>
              <a href="#!">Link 4</a>
            </li> -->
          </ul>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <!-- <div class="col-md-2 mx-auto"> -->
          <!-- Links -->
          <!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5> -->
          <!-- <ul class="list-unstyled"> -->
            <!-- <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li> -->
           
        <!-- </div> -->
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <hr>
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class=" register mb-1">Register as Insurer</h5>
      </li>
      <li class="list-inline-item">
        <a [routerLink]="['/companyregister']" routerLinkActive="router-link-active" class="btn btn-danger btn-rounded">Sign up!</a>
        <!-- <a [routerLink]="['/companyregister']" routerLinkActive="router-link-active" ></a> -->
      </li>
    </ul>
    <!-- Call to action -->
    <hr>
    <!-- Social buttons -->
    <ul class="linkslist list-unstyled list-inline text-center">
      <!-- <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li> -->
      <li>  <a target="_blank" href="https://www.facebook.com/Pie-1826847107420900/?modal=admin_todo_tour"><i class="fa  fa-facebook-square"></i></a></li>
      <!-- <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li> -->
      <li> <a target="_blank" href="#"><i class="fa  fa-twitter-square"></i></a></li>

     
    
  <!-- 
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li> -->
    </ul>
    <!-- Social buttons -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="font-size:large;">© 2019 Copyright:
      <a href="#"> PIEinsurance.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
