<!-- <div class="sidenav">
    <ul class ="list-unstyled">
        <li style="margin-top:10rem">
          
           <a [routerLink]="['/myCompanyPolicy','manasa']" routerLinkActive = "active" >My Policies</a>
   
        </li>
        <li>
            <a href="#"> Incomming Poritng Requests</a>
        </li>
   
   
      <li>
        <a href="#">Outgoing Poritng Requests</a>
    </li>
   
      <li><a routerLink='/newPolicyForm' routerLinkActive = "active" >Add New Policy</a></li>
   
   
   </ul>
   </div> -->
   
    <!-- Page content -->