<mat-tab-group style = "margin-left: 0%;" mat-align-tabs="center">

<mat-tab label="Family Details">
    <form [formGroup]="firstForm">
  <mat-form-field  style = "margin-left: 40%;">
  <input  matInput placeholder="Member name" formControlName="memberName">
</mat-form-field>
<br>
<mat-form-field  style = "margin-left: 40%;">
  <input matInput placeholder="Age" formControlName="memberAge">
</mat-form-field>
<br>
 <mat-form-field style = "margin-left: 40%;">
  <input matInput placeholder="Gender" formControlName="memberGender">
</mat-form-field>
<mat-form-field style = "margin-left: 40%;">
  <input matInput placeholder="Relation" formControlName="relation">
</mat-form-field>
    </form>
   <div style = "margin-left: 45%; margin-bottom: 20%;">
      <button class="btn btn-success btn-outline-rounded" (click)="submitForm()"> Submit <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
   </div>
   </mat-tab>
  </mat-tab-group>