
      <!-- <div class="container" style="position:center">
        <div >
              <p>InsuredId : {{requestObj.insuredId}}</p>
              <div *ngFor="let item of requestObj.requests">
                  <ul class="list-unstyled components">
                    <li>Request Id : {{item.requestId}}</li>
                    <li>Request Status : {{item.requestStatus}}</li>
                    <li>Insurance Company : {{item.newInsuranceCompany}}</li>
                    <li>Policy name : {{item.newPolicyName}}</li>
                  </ul>
              </div>
              </div>
        </div> -->

        <mat-card-header >
          <p style="margin-left: 20%;margin-top: 2%;">My Requests</p>
            </mat-card-header>
            <mat-card-content >
              <div>
                <div *ngFor="let item of requestObj.requests" style="width: 50%; margin-left: 15%;">
                    <ul class="list-unstyled components">
                      <li>Request Id : {{item.requestId}}</li>
                      <li>Request Status : {{item.requestStatus}}</li>
                      <li>Insurance Company : {{item.newInsuranceCompany}}</li>
                      <li>Policy name : {{item.newPolicyName}}</li>
                      
                    </ul>                            
                </div>
                  </div>
            </mat-card-content>
          
           
                
      
     