.message {
   border-radius: 10px;
   margin: 0 5px 10px;
   padding: 5px 2px;
   position: relative;
   font-weight: bold;
   clear: both;
   background-image: url('/../assets/img/dark.jpeg')
}
.message.to {
   color:white;
   background-color: blue;
   margin-left: auto;
   text-align: right;
   margin-top:30px;
   float: right;
   font-size: 15px;
}
.message.from {
   color: white;
   background-color: silver;
   margin-right: auto;
   float: left;
   font-size: 15px;
   margin-top: 20px;
}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -5px;
}

.abc{
 width:400px;
 height:340px; 
 margin:22px auto;
}

@media  (max-width: 768px) {
   .abc {
      width:200px;
      height:240px; 
      margin:22px auto;
    }
  }




.ng-valid{
   width: 50%;
}
.bottom{
   margin-left: 3%;
}
h1{
   text-align: center;
}

.content {
   color: #787878;
   background-color: #fcf7f8;
   border: 1px solid rgba(0,0,0,.05);
 }

 input{
   font-size: large;

 }

.mat-dialog-actions {
     justify-content: flex-end;
     align-items: flex-end;
}
