<!-- <div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Your Information</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
     <strong>Roles:</strong> {{info.authorities}}<br />
    <strong>Token:</strong> {{info.token}}<br/>
   </p>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div> -->
 
<!-- <ng-template #loggedOut>
</ng-template>  
<app-navbar></app-navbar>
<app-landing></app-landing>
<app-footer></app-footer> -->

<app-landing></app-landing>

<button id="add-button" (click)="openDialog1()"><img src=".././assets/img/bot.jpg"></button>

<app-footer></app-footer>
