
<div style=" margin:0 right ; margin-bottom:20%;">
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="true" style="width:auto;color:wheat;background-color: red;position: relative">Close</button>
    </div>
    <br>
    <br>
    <br>
    <ul class="list-group list-group-flush">
    <li>Username : {{profile.username}}</li><br>
    <li>Email : {{ profile.email }}</li><br>
    <li>Age : {{profile.age}}</li><br>
    <li>Gender : {{profile.gender}}</li><br>
    <li>Existing Diseases : {{profile.existingDisease}}</li><br>
    </ul>
</div>