
<div class="about">
<mat-tab-group animationDuration="2000ms" mat-align-tabs="center" >
        <mat-tab label="Company">
            
          <h1>About Us</h1>
          <p>Pie provides a platform for all Insurers to display their policies for purchase.
              We use our resources to focus on service excellence, design products and use core competency of innovation to deliver the best to our customers.
          </p>
          <p>
              At Pie Health Insurance, the company offers a wide range of health insurance products at affordable prices to make health insurance every human being’s right. And as a company, single-mindedly dedicated to health insurance.
          </p>
          <!-- </div> -->
        </mat-tab>
        <mat-tab label="Why Choose Us?">
          
          <h1>Why Choose Us?</h1>
          <p>Pie Health Insurance provides a platform for all the Insurance companies to register and display their policies for purchase.
            We let customers buy policies of their interest. Insured can easily port policies from one Insurer to another. </p>
            <!-- </div> -->
          </mat-tab>

          <mat-tab label="Team">
          <h1>Meet the team</h1>
          <div class="container" style="width:auto">
                <div class="row">
                    <div class="col-sm-3">
                        <!-- <a href="#"><img style="width:90%" class="img-responsive" src="../images/images_sujan/contact1.jpg" alt=""></a> -->
                        <a href="#"><img style="width:90%" class="img-responsive" src="./../assets/img/step0002.jpg" alt=""></a>
                        <h4 class="card-title" style="padding-left: 15%">Manasa M</h4>
                       
            
                    </div>
                    <div class="col-sm-3">
                            <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/step0003.jpg" alt=""></a>
                            <h4 class="card-title" style="padding-left: 15%">Sujan C</h4>     
                                
                
                        </div>
                        <div class="col-sm-3">
                            <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/step0010.jpg"
                                alt=""></a>
                                <h4 class="card-title" style="padding-left: 15%"> Tejaswini S</h4>

                      
                
                        </div>
                        <div class="col-sm-3">
                            <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/step0001.jpg"
                                alt=""></a>
                                <h4 class="card-title" style="padding-left: 15%"> Akshay Verma</h4>
                       
                
                        </div>


                    </div>
                    </div>


                    <div class="container" style="width:auto">
                        <div class="row">
                            <div class="col-sm-3">
                                <!-- <a href="#"><img style="width:90%" class="img-responsive" src="../images/images_sujan/contact1.jpg" alt=""></a> -->
                                <a href="#"><img style="width:90%" class="img-responsive" src="./../assets/img/step0004.jpg" alt=""></a>
                                <h4 class="card-title" style="padding-left: 15%">Deepak</h4>
                               
                    
                            </div>
                            <div class="col-sm-3">
                                    <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/step0006.jpg" alt=""></a>
                                    <h4 class="card-title" style="padding-left: 15%">Sourabhi Tadapatri</h4>     
                                        
                        
                                </div>
                                <div class="col-sm-3">
                                    <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/step0005.jpg"
                                        alt=""></a>
                                        <h4 class="card-title" style="padding-left: 15%"> Banka Abhishek</h4>
        
                              
                        
                                </div>
                                <div class="col-sm-3">
                                    <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/step0007.jpg"
                                        alt=""></a>
                                        <h4 class="card-title" style="padding-left: 15%"> Vutti Anusha</h4>
                               
                        
                                </div>
        
        
                            </div>
                            </div>

                            <div class="container" style="width:auto">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <!-- <a href="#"><img style="width:90%" class="img-responsive" src="../images/images_sujan/contact1.jpg" alt=""></a> -->
                                        <a href="#"><img style="width:90%" class="img-responsive" src="./../assets/img/step008.jpg" alt=""></a>
                                        <h4 class="card-title" style="padding-left: 15%">Achinthya Pataskar</h4>
                                       
                            
                                    </div>
                                    <div class="col-sm-3">
                                            <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/step0009.jpg" alt=""></a>
                                            <h4 class="card-title" style="padding-left: 15%">Saurabh Sanjay Naragude</h4>     
                                                
                                
                                        </div>
                                       
                
                
                                    </div>
                                    </div>



                    
                
                </mat-tab>
       
      </mat-tab-group>
      </div>
    

